<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			<em>
				<a href="{{ '/' | url }}">{{ metadata.title }}</a>
			</em>
			{% include "components/nav.njk" %}
		</header>

		<main>
			{{ layoutContent | safe }}

		</main>

		{% include "components/footer.njk" %}

		 <script src="assets/compiled-assets/vendor.js"></script>
   		 <script src="assets/compiled-assets/main.js"></script>
	</body>

</html>
